body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/*#content > *:hover {
    color: var(--hover-color, inherit);
}
#content > *:hover {
    background: var(--hover-background, inherit);
}*/
#content {
    background: #202124;
    border-radius: 24px;
    width: 1080px;
    height: 1920px;
    position: relative;
    zoom: 0.3;
    overflow: hidden;
    box-shadow: 0 4px 16px 0 #0003;
    display: flex;
}
@-moz-document url-prefix() {
 #content  {
    transform: scale(0.3);
 }
}
#content > div, #content > img, #content > input, #content > btn {
    border: none;
    position: absolute;
    z-index: 5;
    display: flex;
    outline: none;
    white-space: nowrap;
}
#content > btn {
    justify-content: center;
    align-items: center;
}
#content > * {
    user-select: none;
    cursor: default;
}
#content > btn > span {
    position: absolute
}
#content > btn > *, .text {
    pointer-events: none
}
#content > *[data-action] {
    cursor: pointer;
}
#loadText {
    font-size: 70px;
    margin: 390px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}
#buttons {
    position: fixed;
    top: 16px;
    left: 16px;
    display: flex;
    gap: 8px;
    display: none;
}
#varList {
    width: 0px;
    height: 512px;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0;
    transition: 0.4s ease all;
}
#varList > * {
    display: block;
    width: 100%;
    height: 10px;
    padding: 6px 10px;
    font: 10px monospace;
    color:#202124
}
#varList > *:hover {
    background: #0001;
}
.bg {
    width: 1080px;
    height: 1920px;
    z-index: 0 !important;
}
.image {
    pointer-events: none;
}
.text_ab_title {
    transform: translateY(2px);
}
.x_listbox {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
listitem {
    display: flex;
    height: var(--icon-h);
    pointer-events: all;
    cursor: pointer
}
listitem > * {
    pointer-events: none;
}
listitem > div {
    width: var(--icon-w);
    align-items: center;
    justify-content: center;
    display: flex;
}
listitem > span {
    align-self: center
}
listitem > div > div {
    padding-right: calc(var(--icon-padding) * 2);
    content: var(--icon-unselected)
}
listitem[data-on="1"] > div > div {
    content: var(--icon-selected)
}

@media (min-width: 320px) and (max-width: 480px) {
    #varList, #buttons {
        display: none !important;
    }
    #content {
        zoom: 0.378 !important;
    }
}