body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('bg.svg');
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-size: cover
}
/*#content > *:hover {
    color: var(--hover-color, inherit);
}
#content > *:hover {
    background: var(--hover-background, inherit);
}*/
.left-wrap {
    position: fixed;
    bottom: 50%;
    left: 0%;
    z-index: 100;
    transform: translate(-80%, 50%);
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.left-pane {
    gap: 4px;
    display: flex;
    border-radius: 0 24px 24px 0;
    padding: 16px 16px 16px 72px;
    font: 14px 'Segoe UI', sans-serif;
    box-shadow: 0 4px 16px 0 #0002;
    background: #fafafa;
    width: 100px;
    transition: .3s all cubic-bezier(0.2, 0.8, 0, 1);
}
.left-pane:hover {
    transform: translateX(50%);
}
.left-pane > button:hover {
    background: #ed6f02;
    color: #fafafa;
}
.left-pane > button {
    cursor: pointer;
    transition: .3s all ease;
    border: none;
    background: #ed6f021f;
    color: #723500;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Segoe UI', sans-serif;
}
#content {
    background: #202124;
    border-radius: 88px;
    width: 1080px;
    height: 2160px;
    position: relative;
    zoom: 0.3;
    overflow: hidden;
    box-shadow: 0 4px 16px 0 #0003;
    display: flex;
}
@-moz-document url-prefix() {
 #content  {
    transform: scale(0.3);
 }
 button[data-page="loadvars"],  #frame {
    display: none !important
 }
 #chrome {
     display: flex !important
 }
}
#content > div, #content > img, #content > input, #content > btn {
    border: none;
    position: absolute;
    z-index: 5;
    display: flex;
    outline: none;
    white-space: nowrap;
}
#content > btn {
    justify-content: center;
    align-items: center;
}
#content > input {
    cursor: text
}
#content > * {
    user-select: none;
    cursor: default;
}
#content > btn > span {
    position: absolute
}
#content > btn > *, .text {
    pointer-events: none
}
#content > *[data-action] {
    cursor: pointer;
}
#loadText {
    font-size: 70px;
    margin: 390px;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
}
#chrome {
    box-shadow: 0 4px 16px 0 #0002;
    position: absolute;
    top: 0;
    background: crimson;
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    padding: 16px;
    border-radius: 0 0 16px 16px;
    color: #fff;
    font-weight: 500;
    display: none;
}
#varList {
    width: 0px;
    height: 512px;
    background: #fafafa;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 6px 0;
    transition: 0.4s ease all;
    box-shadow: 0 4px 16px 0 #0002;
}
#varListWrap {
    border-radius: 16px;
    overflow: hidden;
    z-index: 10
}
#varList > * {
    display: block;
    width: 100%;
    height: 12px;
    padding: 6px 16px;
    font: 12px monospace;
    color:#202124
}
#varList > *:hover {
    background: #0001;
}
.bg {
    width: 1080px;
    height: 100%;
    z-index: 0 !important;
}
#frame {
    position: absolute;
    height: 720px;
    box-shadow: 4px 10px 56px 0px #0008;
    border-radius: 50px;
    transform: translate(-12px, -40px);
}
.image {
    pointer-events: none;
}
.text_ab_title {
    transform: translateY(2px);
}
.x_slider_wrap > div {
    position: relative;
    display: flex;
    pointer-events: none
}
.x_slider_wrap:hover > div > .x_slider_touch {
    transform: translateX(240%)
}
.x_slider {
    content: var(--slider-base)
}
.x_slider_touch {
    content: var(--slider-touch);
        position: absolute;
    transition: all 0.25s ease;
}
.x_listbox {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}
listitem {
    display: flex;
    height: var(--icon-h);
    pointer-events: all;
    cursor: pointer;
    flex-shrink: 0
}
listitem > * {
    pointer-events: none;
}
listitem > div {
    width: var(--icon-w);
    align-items: center;
    justify-content: center;
    display: flex;
}
listitem > span {
    align-self: center
}
listitem > div > div {
    padding-right: calc(var(--icon-padding) * 2);
    content: var(--icon-unselected)
}
listitem[data-on="1"] > div > div {
    content: var(--icon-selected)
}

@media (min-width: 320px) and (max-width: 480px) {
    #varList, #buttons, #frame {
        display: none !important;
    }
    body {
        background: #000 !important;
    }
    #content {
        border-radius: 0 !important;
    }
}